{% extends "cms/base.html"}

{% block title %}
<title>DashBoard</title>
{% endblock title %}

{% block content %}
<form action="/create_client/" method="POST">{% csrf_token %}
        <hr>
        <label for="Name">Name:</label><br>
        <input type="text" placeholder="Enter Name" name="name" id="name" required><br>
        <label for="Phone">Phone:</label><br>
        <input type="text" placeholder="Enter Phone Number" name="phone" id="phone" required><br>
        <label for="Email">Email:</label><br>
        <input type="text" placeholder="Enter Email Address" name="email" id="email" required><br>
        <hr>
        <button type="submit">Register</button>
</form>

{% endblock content %}